  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

  * {
      box-sizing: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-nav{
    display: flex !important;
    justify-content: center;
  }
  
  .owl-carousel .owl-nav.disabled > *, .owl-carousel .owl-nav > *{
    margin: 0px 10px;
    margin: 0px;
    max-width: 150px;
    width: 100%;
    margin: 0px 20px;
  }

  .responsealert{
    display: none;
  }
  .responsealert.show{
    display: inline;
    font-weight: bold;
    color: #F3BB1B;
  }

  .owl-carousel .owl-nav .btn-prev,.owl-carousel .owl-nav .btn-next,.owl-carousel .owl-nav .am-prev,.owl-carousel .owl-nav .am-next{
    max-width: 150px;
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 5px;
    font-size: large;
    transition: all ease-in-out 0.5s;
  }
  .owl-carousel .owl-nav .btn-prev:hover,.owl-carousel .owl-nav .btn-next:hover,.owl-carousel .owl-nav .am-prev:hover,.owl-carousel .owl-nav .am-next:hover{
    /* box-shadow: 2px 2px 5px gainsboro; */
   background-color:#21106A;
   color: white;
   border: none;
  }

  section {
      padding: 50px 70px;
  }

  .testimonial-content {
      font-size: initial;
  }

  .hero {
      background-image: url(assets/images/herobg.webp);
      height: 100%;
      position: relative;
  }

  .hero .hero-img {
      position: absolute;
      height: 80%;
      bottom: 0px;
      overflow: hidden;
  }

  .hero .hero-img img {
      width: 100%;
  }

  .color-main {
      color: #21106A;
  }

  .bg-main {
      background-color: #21106A;
  }

  .hero-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .hero-top img {
      width: 120px;
      height: 75px
  }

  .hero-top a {
      font-size: x-large;
      text-decoration: none;
      font-weight: 700;
      color: #21106A;
  }

  .hero-content {
      display: flex;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      position: inherit;
  }

  .hero-content h1 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      display: flex;
      font-size: 3rem;
      align-items: center;
  }

  .hero-content h1 img {
      height: 30px;
      width: 30px;
  }

  .hero-content h3 {
      font-weight: 700;
      font-size: 4rem;
      color: white;
  }

  .hero-content h4 {
      font-weight: 700;
      font-size: 3rem;
      color: white;
  }

  .hero-content h5 {
      font-weight: 800;
      font-size: 2rem;
      color: #21106A;
  }

  .hero-content h6 {
      font-weight: 700;
      font-size: 20px;
      color: #21106A;
  }

  .hero-content button {
      font-size: x-large;
      background-color: #21106A;
      color: white;
      padding: 20px 50px;
      border-radius: 15px;
  }

  .hero-content button:hover {
      background-color: #170b4c;
      color: white;
  }

  .hero-content button {
      margin-top: 50px;
      max-width: 400px;
  }



  /* Agenda */
  .agenda {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
  }

  .agenda-img {
      position: absolute;
      right: 50px;
      bottom: 0px;
  }

  .agenda-img img {
      max-height: 520px;
      z-index: -1;
  }

  .agenda-content {
      position: inherit;
  }

  .agenda-content h2 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      display: flex;
      font-size: 4rem;
      align-items: center;
      color: #21106A;
      margin-bottom: 25px;
  }

  .map {
      padding: 40px 0px;
  }

  .agenda-content p {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .agenda-content p img {
      width: 30px;
      height: 20px;
  }

  /* Experts */
  section.experts {
      background: linear-gradient(180deg, #F3BB1B 450px, rgba(0, 0, 0, 0) 400px), linear-gradient(180deg, #e0e0e0 26%, white 66%);
  }

  .expert-heading {
      font-weight: 700;
      font-size: 40px;
      color: black;
      margin: 35px auto;
  }

  .expert-card {
      padding: 30px;
  }

  .card-head {
      padding: 50px;
  }

  .card-head img {
      border-radius: 30px;
      border-bottom: 15px solid #e0e0e0;
  }

  .card-content {
      background-color: #e0e0e0;
      padding: 10px;
      border-radius: 20px;
  }

  .card-content h4,
  .card-content p {
      font-weight: 800;
      margin: 5px;
      color: #21106A;
  }

  .card-content p {
      font-weight: 700;
      font-size: 18px;
  }


  .youtube-item {
      position: relative;
      padding: 20px;
  }


  .testimonial .testimonial-heading {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 50px;
  }

  .testimonial .testimonial-heading h2 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      color: #21106A;
  }

  .testimonial .testimonial-heading h4 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2rem;
      color: #21106A;
      margin-bottom: 15px;
  }

  #testimonial-owl-carousel .testimonial-item {
      border-radius: 10px;
      margin: 25px;
      padding: 25px;
      box-shadow: 2px 2px 25px #cecece;
      min-height: 400px;
  }

  #testimonial-owl-carousel .testimonial-item .testimonial-head h3 {
      color: #21106A;
      font-weight: 700;
  }

  #testimonial-owl-carousel .testimonial-item .testimonial-head h6 {
      font-weight: 700;
      color: #F3BB1B;
  }

  #testimonial-owl-carousel .testimonial-item .testimonial-content {
      font-weight: 700;
  }

  .copyright {
      background-color: #dddddd;
  }

  .copyright h2 {
      font-weight: 700;
      color: black;
  }

  .footer .footer-2,
  .footer .footer-3,
  .footer .footer-1 {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }

  .social-link>* {
      width: 200px;
      font-weight: 700;
      text-align: center;
  }
  .social-link  a{
    text-decoration: none;
  }

  .footer-2 .location>* {
      width: 300px;
      color: #21106A;
  }

  .footer-2 .location .location-head {
      text-align: center;
      font-weight: 700;
  }

  .footer-3 .contact {
      font-size: 25px;
      font-weight: 800;
  }

  .footer-3 input {
      max-width: 300px;
      padding: 15px 25px;
      margin-top: 15px;
      margin-bottom: 20px;
      border: solid 1px black;
      border-radius: 10px;
  }

  .footer-3 button {
      border: solid 1px black;
      background-color: #F3BB1B;
      padding: 5px;
      font-weight: 800;
      font-size: small;
      max-width: 105px;
      border-radius: 10px;
  }

  @media only screen and (max-width: 1250px) {
      .hero .hero-img img {
          opacity: 0.4;
      }

      .agenda-img img {
          opacity: 0.1;
      }
  }

  @media only screen and (max-width: 1025px) {
      .card-head {
          padding: 30px;
      }

      .card-content p {
          font-size: 14px;
      }
  }

  @media only screen and (max-width: 800px) {
      .agenda-img {
          right: 0px;
      }

      .testimonial-content {
          font-size: 15px;
      }

      .agenda-content h2,
      .expert-heading {
          font-size: 30px;
          margin: 15px auto;
      }

      .expert-card {
          padding: 10px;
      }

      .agenda-content p {
          font-size: small;
      }

      .agenda-content p img {
          width: 20px;
          height: 10px;
      }

      .footer .footer-2,
      .footer .footer-3,
      .footer .footer-1 {
          align-items: center;
      }
  }

  @media only screen and (max-width: 725px) {
      .font-size {
          font-size: large !important;
      }

      .hero-content h1 {
          font-size: x-large;
      }

      .hero-content h1 img {
          height: 20px;
          width: 20px;
      }

      section {
          padding: 40px;
      }

      .hero-top img {
          width: 70px;
          height: 50px;
      }

      .hero-content button {
          margin-top: 20px;
          font-size: medium;
          padding: 10px 50px;
      }

      .copyright h2 {
          font-size: 15px;
      }

      .copyright h3 {
          font-size: 12px;
      }
  }


  @media only screen and (max-width: 550px) {
      .testimonial .testimonial-heading h2 {
          font-size: 2rem !important;
      }

      .testimonial .testimonial-heading h4 {
          font-size: 20px;
      }
  }

  @media only screen and (max-width: 430px) {
      section {
          padding: 20px;
      }

      .agenda-img {
          right: 0px;
          left: 20px;
      }

      .agenda-img img {
          width: 100%;
      }

      .testimonial .testimonial-heading {
          padding-bottom: 0px;
      }

      .map iframe {
          height: 300px;
      }

      .expert-heading {
          font-size: large;
      }

      .card-content *,
      .testimonial-head *,
      .testimonial-heading * {
          font-size: medium;
      }

      .card-head,
      .youtube-item {
          padding: 20px;
      }

      .testimonial-content {
          font-size: small !important;
      }

      .footer-1>img {
          width: 120px;
      }
  }